# Some garbage stuff
bin/*
!bin/README
log/*
!log/README
config.status
config.cache
config.log
src/conf.h
src/util/Makefile
src/Makefile
src/sysdep.h
lib/plrobjs/A-E/*.objs
lib/plrobjs/F-J/*.objs
lib/plrobjs/K-O/*.objs
lib/plrobjs/P-T/*.objs
lib/plrobjs/U-Z/*.objs
src/.accepted
lib/etc/players
lib/etc/time

# Prerequisites
*.d

# Object files
*.o
*.ko
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
*.swp
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
